---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*@author [KESMEZ];*/

/* *** Lyk Jekyll " <HÜSEYİN KESMEZ> Styles *** */

@charset "UTF-8";

*{
    border:none;
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}

img{
    width:100%;
}

.clear{
    clear:both!important;
}

a{
    color:#404040;
    text-decoration:none;
}

body{
font-family:Arial, Helvetica, sans-serif;
background-color: white;
}

body > header{
    padding: 20px 0;
}

header{
    background-color:lightgrey;
    margin-bottom: 20px;
}

main{
    background-color:white;
}

footer{
    background-color:grey;
    margin-top: 20px;
    text-align: center;
}

.wrapper{
    width:960px;
    margin-right:auto;
    margin-left:auto;
    border:1px solid transparent;
}

.site-title{
    float:left;
    margin:0;
}

.site-title a{
    color:#444;
}

.site-nav{
    float:right;
}

.site ul{
    margin:0;
    padding:0;
}

.site-nav ul li{
    display:inline-block;
}

.site-nav ul li a{
    display:block;
    padding:4px 8px;
    color:#444;
    font-weight:700;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts li a {
  text-decoration: none;
  color: #f555

}

.date {
  font-size: 50%;
  color: grey
}
.posts li {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  line-height: 20px;
  border-bottom: 1px solid #666;
}

.posts li:last-child {
  border-bottom: 0;
}

.posts h2 {
  color: yellow;
}
