<footer class="site-footer">
  footer>
      <div class="wrapper">
          <li><a href="mailto:{{ site.email }}">{{hsynkesmez@outlook.com}}</a></li>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}"> RSS Feed</a>
      </div>
  </footer>
